<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
</head>
<body>
	<h1>Calculator</h1>
	<form method="post">
		<input type="text" name="n1" value="{{data.n1}}">
		<select name="operation">
			<option value="add">Add</option>
			<option value="subtract">Subtract</option>
			<option value="multiply">Multiply</option>
			<option value="divide">Divide</option>
		</select>
		<input type="text" name="n2" value="{{data.n2}}">
		<input type="submit" value="Calculate">
		<div>{{data.result}}</div>
	</form>
</body>
</html>